@import url(/assets/css/variables.css);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--color-bg);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.d_none{
    display: none;
}
.d_flex{
    display: flex;
    align-items: center;
}
.main-header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: var(--color-bg);
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}
.navbar .logo  {
    font-size: 1.25rem;
    font-weight: 700;
     color: var(--color-text);
}
.content-wrap{
max-width: 1360px;
margin: 0 auto;
padding: 0 20px;
}
.btn_more {
padding: 0px 20px;
width: 160px;
height: 30px;
background: none repeat scroll 0% 0% transparent; 
background-color: var(--color-button);
border: none;
border-radius: 20px;
cursor: pointer;
}
.btn_more span {
color: var( --color-text-button);
font-size: 1rem;
}
.btn_more i {
 color: var(--color-text-button);
 font-size: 1rem;
}
.main_menu{
display: flex;
position: absolute;
top: 60px;  
right: 1000px;
height: calc(100vh - 60px);
width: 100vw;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: var(--color-bg);
font-size: 2rem;
color: var(--color-text);
transition: left 0.3s ease-in-out;
}
.main_menu.menu-open{
    left: 0;
}
.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}



@media  screen and (min-width: 1110px) {
    .content-wrap{
        padding: 0;
    }
    .navbar .logo  {
        font-size: 2.5rem;
    }
  .btn_more {
    width: 150px;
    height: 40px;
    background-color: var(--color-button);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
    .btn_more span {
        display: inline;
    }
    .btn_more i {
        display: none;
    }
     /* На великих екранах меню стає горизонтальним */
    .main_menu {
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        gap: 20px;
    }
    .menu-icon {
        display: none;/* Ховаємо гамбургер на десктопі */
        
    }
}