:root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-text-secondary: #555555;
    --color-text-third: #E9E9E9;
    --color-text-button: #ffffff;
    --color-button: #485C11;
    --color-button-secondary: #8E9C78; 
    --color-button-third: #DFECC6;
}